{
  "extends": ["react-app"],
  "rules": {
    "camelcase": [
      "error",
      {
        "ignoreGlobals": false,
        "ignoreImports": false,
        "properties": "always"
      }
    ],
    "spaced-comment": [
      "error",
      "always",
      {
        "markers": ["/"]
      }
    ],
    "block-spacing": ["error", "always"],
    "no-multi-spaces": [
      "error",
      {
        "ignoreEOLComments": false,
        "exceptions": {
          "Property": true,
          "VariableDeclarator": true,
          "ImportDeclaration": true
        }
      }
    ],
    "no-trailing-spaces": [
      "error",
      {
        "ignoreComments": false,
        "skipBlankLines": false
      }
    ],
    "no-whitespace-before-property": "error",
    "space-before-blocks": ["error", "always"],
    "space-before-function-paren": [
      "error",
      {
        "anonymous": "always",
        "named": "never",
        "asyncArrow": "always"
      }
    ],
    "space-in-parens": ["error", "never"],
    "indent": [
      "error",
      2,
      {
        "SwitchCase": 1,
        "VariableDeclarator": 1,
        "outerIIFEBody": 1,
        "MemberExpression": 1,
        "FunctionDeclaration": {
          "parameters": 1,
          "body": 1
        },
        "FunctionExpression": {
          "parameters": 1,
          "body": 1
        },
        "CallExpression": {
          "arguments": 1
        },
        "ArrayExpression": 1,
        "ObjectExpression": 1,
        "ImportDeclaration": 1,
        "flatTernaryExpressions": false,
        "ignoreComments": false
      }
    ],
    "vars-on-top": "error",
    "require-await": "error",
    "no-useless-return": "error",
    "no-useless-catch": "error"
  }
}
